*{
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(black, darkblue, skyblue);
    background-attachment: fixed;
    text-align: center;
}

.ionosphere{
    width: 90vw;
    height: 5vh;
    line-height: 5vh;
    position: absolute;
    top: 10vh;
    left: 5vh;
    background: linear-gradient(to right, rgba(255,255,0,0), yellow, rgba(255,255,0,0));
}

.ground{
    width: 100vw;
    height: 10vh;
    line-height: 2vh;
    position: absolute;
    top: 90vh;
    background: linear-gradient(sienna, brown);
}

.transmitter{
    width: 5vh;
    height: 5vh;
    line-height: 3vh;
    position: absolute;
    top: 85vh;
    left: 15vh;
    border: 3px solid red;
    background-color: white;
}

.slider-freq {
    width: 80vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-height {
    height: 60vh;
    position: absolute;
    top: 10vh;
    left: 90vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }